.new-product-page {
    display: flex;
    justify-content:center;
    margin: 0 auto;
    font-family: 'Epilogue', sans-serif;
    border-bottom: 7px solid #6CADB2;
}

.title-wrapper{
    width: 40%;
    border-right: 3px solid #6CADB2;
    margin-top: 20px;
    margin-left: 50px;
}

.title-wrapper h2 {
    font-size: 140px;
    color: #6CADB2;
    text-align: left;
    margin-right: 50px;
}

.form-wrapper{
    margin-top: 20px;
    margin-left: 50px;
}
  
.new-product-form {
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding: 20px;
}
  
.new-product-form label {
    font-size: 20px;
    color: #6CADB2;
    font-weight: 500;
}
  
.new-product-form input,
.new-product-form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    font-family: inherit;
    background-color: #f9f9f9;
}
  
.new-product-form button {
    margin-top: 20px;
    font-size: 18px;
}

.success-msg {
    color: rgb(107, 204, 107);
    text-align: center;
    margin:0;
} 

@media (max-width: 678px) {

    .new-product-page {
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        margin: 0 auto;
        font-family: 'Epilogue', sans-serif;
        border-bottom: 7px solid #6CADB2;
    }

    .new-product-page h2 {
      font-size: 50px;
      margin: 0;
      padding-left: 20px;
    }

    .title-wrapper{
        width: 60%;
        margin-top: 20px;   
        border-right: none;
    }

    .success-msg {
        color: rgb(107, 204, 107);
        text-align: center;
        margin:0;
    } 
}  