html,
body {
  height: 100%;
}

:root {
  font-family: 'Epilogue', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  width: 100%;
  color: #333;
  background-color: #ffffff;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  width: 100%;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 600;
  color: #424646;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
}

a:hover {
  color: #424646;
}

button {
  background-color: #FF7E7E;
  color: white;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  font-family: inherit;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #e96a6a;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.delete-btn {
  background-color: #ccc;
  font-size: 22px;
  color: #424646;
  width: 200px;
  margin-left: 50px;
}


/* ********* FORMS ********* */
/* ************************* */
.new-product-page {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  font-family: 'Epilogue', sans-serif;
  border-bottom: 7px solid #6CADB2;
}

.title-wrapper {
  width: 40%;
  border-right: 3px solid #6CADB2;
  margin-top: 20px;
  margin-left: 50px;
}

.title-wrapper h2 {
  font-size: 140px;
  color: #6CADB2;
  text-align: left;
  margin-right: 50px;
}

.form-wrapper {
  margin-top: 20px;
  margin-left: 50px;
}

.new-product-form {
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding: 20px;
}

.new-product-form label {
  font-size: 20px;
  color: #6CADB2;
  font-weight: 500;
}

.new-product-form input,
.new-product-form textarea,
.ingredients-container select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  font-family: inherit;
  background-color: #f9f9f9;
}


.select:not(:-internal-list-box):not([multiple]) {
  color: red;
}

.new-product-form button {
  margin-top: 20px;
  font-size: 18px;
}

.success-msg {
  color: rgb(107, 204, 107);
  text-align: center;
  margin: 0;
}

@media (max-width: 678px) {

  .new-product-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-family: 'Epilogue', sans-serif;
    border-bottom: 7px solid #6CADB2;
  }

  .title-wrapper h2 {
    font-size: 60px;
    padding: 0;
  }

  .title-wrapper {
    width: 60%;
    margin-top: 20px;
    border-right: none;
  }

}